.body-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background:radial-gradiant(pink,lightblue);
}
.container{
    width:80%;
    height:80%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    background:linear-gradient(pink,#b6c6cb);
    box-shadow:0 0 20px #13A4E;
    display:flex;
justify-content:center;
align-items:center;
box-sizing:border-box;
}
.container-data{
padding: 25px;
transform:translateX(-50%),translateY(-50%);
color:black;
font-family: arial;
font-size: 2.1vw;



}
@media  onlyscreen  and (max-width:763px){
    .container-data{
        font-size:6vw;
    }}
    @media only screen and (max-width: 480px){
        .container-data{
            font-size:4vw;
        }
    }